{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Add Outcome Codes to Quiz</h1>
    <form method="post" action="{% url 'submit_outcome_codes' %}">
        <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
        {% csrf_token %}

        <div id="outcome-codes-container">
            <!-- Dynamic fields for outcome codes will be appended here -->
        </div>
        <button type="button" onclick="addOutcomeCodeField()">Add Outcome Code</button>
        <button type="submit" class="btn btn-primary">Submit Outcome Codes</button>
    </form>

</div>

<script>
    let outcomeCodeCounter = 0;

    function addOutcomeCodeField() {
        
        let container = document.getElementById('outcome-codes-container');
        let outcomeCodeDiv = document.createElement('div');
        outcomeCodeDiv.setAttribute('id', 'outcome_code' + outcomeCodeCounter);
        outcomeCodeDiv.innerHTML = `
            <hr>
            <div class="form-group">
                <label for="combination_code${outcomeCodeCounter}" id="combination_code_div_label${outcomeCodeCounter}">Combination Code:</label>
                <div name="combination_code_div${outcomeCodeCounter}"
                    
                    {% for attribute_name_codes in attribute_names_codes %}
                        <h4 id="attribute_name${outcomeCodeCounter}"> {{ attribute_name_codes.0 }}
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault_{{ attribute_name_codes.0 }}_${outcomeCodeCounter}" onchange="updateCombinationCode(${outcomeCodeCounter})">
                            <label class="form-check-label outputcodeLabel${outcomeCodeCounter}" id="label_{{ attribute_name_codes.0 }}_${outcomeCodeCounter}" for="flexSwitchCheckDefault_{{ attribute_name_codes.0 }}_${outcomeCodeCounter}">
                                <span class="label-on" id="labelOn_{{ attribute_name_codes.0 }}_${outcomeCodeCounter}">{{ attribute_name_codes.1 }}</span>
                                <span class="label-off" id="labelOff_{{ attribute_name_codes.0 }}_${outcomeCodeCounter}">{{ attribute_name_codes.2 }}</span>
                            </label>
                            <style>
                                /* Hide the label-off text by default */
                                .label-off {
                                    display: none;
                                }

                                /* When the checkbox is not checked, hide label-on and show label-off */
                                #flexSwitchCheckDefault_{{ attribute_name_codes.0}}_${outcomeCodeCounter}:not(:checked) ~ .form-check-label .label-on {
                                    display: none;
                                }

                                #flexSwitchCheckDefault_{{ attribute_name_codes.0 }}_${outcomeCodeCounter}:not(:checked) ~ .form-check-label .label-off {
                                    display: inline;
                                }
                            </style>
                        </div>
                        
                    {% endfor %}
                    
                    <input type="hidden" id="combination_code${outcomeCodeCounter}" name="combination_code${outcomeCodeCounter}" value="" ">
                </div>
            </div>

            <div class="form-group">
                <label for="description${outcomeCodeCounter}">Description:</label>
                <textarea class="form-control" name="description${outcomeCodeCounter}" rows="3" required></textarea>
            </div>
            <button type="button" onclick="removeOutcomeCodeField('outcome_code${outcomeCodeCounter}')">Remove Outcome Code</button>


            
        `;
        container.appendChild(outcomeCodeDiv);
        updateCombinationCode(outcomeCodeCounter);
        outcomeCodeCounter++;
        
    }

    function removeOutcomeCodeField(divId) {
        document.getElementById(divId).remove();
    }

    function updateCombinationCode(outcomeCodeCounter) {
        let code = "";
        const labels = document.querySelectorAll('.outputcodeLabel'+outcomeCodeCounter);
        labels.forEach(label => {
            code += label.innerText;
        });


        document.getElementById("combination_code" + outcomeCodeCounter).value = code;
    }



</script>

{% endblock %}



