{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Add Questions and Answers</h1>
    <form method="post" action="{% url 'submit_questions' %}">  <!-- You will need to create this URL in urls.py -->
      {% csrf_token %}
        <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
        <div id="questions-container">
            <!-- Dynamic question fields will be appended here -->
        </div>
        <button type="button" onclick="addQuestionField()">Add Question</button>
        <button type="submit" class="btn btn-primary">Submit Questions</button>
    </form>
</div>

<script>
    let questionCounter = 0;
    
    function addQuestionField() {
        questionCounter++;
        let container = document.getElementById('questions-container');
        let questionDiv = document.createElement('div');
        questionDiv.setAttribute('id', 'questionDiv' + questionCounter);
        questionDiv.innerHTML = `
            <hr>
            <div class="form-group">
                <label for="question_text${questionCounter}">Question:</label>
                <input type="text" class="form-control" name="question_text${questionCounter}" required>
            </div>
            <div id="answers-container${questionCounter}">
                <!-- Answers for this question will be appended here -->
            </div>
            <button type="button" onclick="addAnswerField(${questionCounter})">Add Answer</button>
            <button type="button" onclick="removeQuestionField('questionDiv${questionCounter}')">Remove Question</button>
        `;
        container.appendChild(questionDiv);
        // Initially add one answer field per question automatically
        addAnswerField(questionCounter);
    }
    
    let answerCounters = {};
    
    function addAnswerField(questionNumber) {
        if (!answerCounters[questionNumber]) answerCounters[questionNumber] = 0;
        if (answerCounters[questionNumber] < 6) { // Limit to 6 answers per question
            answerCounters[questionNumber]++;
            let answersContainer = document.getElementById('answers-container' + questionNumber);
            let answerDiv = document.createElement('div');
            answerDiv.setAttribute('id', `answerDiv${questionNumber}_${answerCounters[questionNumber]}`);
            answerDiv.innerHTML = `
                <div class="form-group">
                    <label for="answer_text${questionNumber}_${answerCounters[questionNumber]}">Answer:</label>
                    <input type="text" class="form-control" name="answer_text${questionNumber}_${answerCounters[questionNumber]}" required>
                </div>
                <div class="form-group">
                    <label for="answer_attribute${questionNumber}_${answerCounters[questionNumber]}">Attribute:</label>
                    <select class="form-control" name="answer_attribute${questionNumber}_${answerCounters[questionNumber]}">
                        <option value="">Select Attribute</option>
                        {% for attribute_name in attribute_names %}
                        <option value="{{ attribute_name }}">{{ attribute_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="answer_weight${questionNumber}_${answerCounters[questionNumber]}">Weight:</label>
                    <input type="number" step="any" class="form-control" name="answer_weight${questionNumber}_${answerCounters[questionNumber]}" required>
                </div>
                <button type="button" onclick="removeAnswerField('answerDiv${questionNumber}_${answerCounters[questionNumber]}')">Remove Answer</button>
            `;
            answersContainer.appendChild(answerDiv);
        } else {
            alert('You can add up to 6 answers per question.');
        }
    }


    function removeQuestionField(divId) {
        document.getElementById(divId).remove();
    }
    
    function removeAnswerField(divId) {
        document.getElementById(divId).remove();
    }
    </script>
    
{% endblock %}
